.input-container {
    margin-bottom: 30px;
}

.label {
    font-weight: 600;
    font-size: 1.05rem;
    margin-bottom: 0.9375rem;
}

.input {
    background: transparent;
    border: 1px solid rgb(222, 213, 213);
    padding: 1.1875rem 0px 1.1875rem 0.9375rem;
    font-size: 1rem;
    box-sizing: border-box;
    width: 100%;
    resize: vertical;
    border-radius: 0px;
    outline: none;
}

.input.error {
    outline: 1px solid #ff5558;
}

.input:hover {
    outline: 1px solid #1065ed;
}

.input:focus {
    outline: 3px solid #1065ed;
}

p.error {
    color: #ff5558;
    font-weight: 600;
}
